# Tuples

In [25]:
mixed_tuple_1 = (1,3.14,"Galleleo",False)
plnt_typle_2 = ("Mars","Earth","Kepler 31","Jupiter","Saturn")

print(mixed_tuple_1)
print(plnt_typle_2)

(1, 3.14, 'Galleleo', False)
('Mars', 'Earth', 'Kepler 31', 'Jupiter', 'Saturn')

In [26]:
type(mixed_tuple_1)
type(plnt_typle_2)

tuple

# Lists

In [17]:
mixed_list_1 = ["Newton",22.7,8.021,True]
flt_list_2 = [float(2),float(10),float(1111)]

print(flt_list_2)
print(mixed_list_1)

[2.0, 10.0, 1111.0]
['Newton', 22.7, 8.021, True]

In [28]:
# Get the last item in the list
print(mixed_list_1[-1])

True

In [29]:
#upload an item in the list

print("Previous value of an item at index 1 = ",flt_list[1])
flt_list_2[1] = float(45)
print("New Value of an item at index 1 = ",flt_list[1])

Previous value of an item at index 1 =  45.0
New Value of an item at index 1 =  45.0

# Sets

In [30]:
mixed_set_1 = {89.90,False,"2n1n1n2n12",98588}
bool_set_2 = {True, False, True, True, False}

print(bool_set_2)

{False, True}

In [31]:
# Clear the set

bool_set_2.clear()

print(bool_set_2)

set()

# Dictionaries

In [40]:
student_dictionary_1 = {"Student Name": "Amit Gaikwad",
            "Email":"amitgaikwad85@gmail.com",
            "Contact No.": 8879231430,
           "Location": "Mumbai"}

temperature_dictionary_2 = {
    "City": "Mumbai",
    "Temparature": 32.6,
    "Date": "18/03/2023",
    "Time": "17:50"
}

print(student_dictionary_1)
print(temperature_dictionary_2)

{'Student Name': 'Amit Gaikwad', 'Email': 'amitgaikwad85@gmail.com', 'Contact No.': 8879231430, 'Location': 'Mumbai'}
{'City': 'Mumbai', 'Temparature': 32.6, 'Date': '18/03/2023', 'Time': '17:50'}

In [44]:
# Update city to Delhi

temperature_dictionary_2["City"] = "Delhi"

print(temperature_dictionary_2)

{'City': 'Delhi', 'Temparature': 32.6, 'Date': '18/03/2023'}

In [43]:
# remove time from temperature_dictionary_2

temperature_dictionary_2.pop("Time")

print(temperature_dictionary_2)

KeyError: 'Time'